.container{
    position: relative;
    background-color: var(--main);
    min-height: 200px;
    overflow: hidden;
 
    padding: 2rem;
}

.photoWrap{
    padding: 0;
}

.image{
    padding: 0;
    position: relative;
    background-color: var(--main); 
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.details{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}

.title{
    color: var(--background-beige);
    font-size: 1rem;
    padding: 12px;
}

.shortTitle{
    color: var(--white);
    font-size: 0.8rem;
    padding: 12px;
}




@media (min-width: 320px) {
    .container{
        min-height: 300px;
    }

    .title{
        font-size: 1.2rem;
        padding: 12px;
    }
    
    .shortTitle{
        font-size: 1rem;
        padding: 12px;
    }
}

@media (min-width: 768px) {
    .container{
        min-height: 400px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 5%;
    }

    .photoWrap{
        width: 55%;
    }

    .details{
        text-align: start;
        width: 40%;
    }
    
    .title{
        font-size: 1.4rem;
        padding: 12px;
    }
    
    .shortTitle{
        font-size: 1.1rem;
        padding: 12px;
    }
}

@media (min-width: 1440px) {
    .container{
        min-height: 720px;
    }

    .title{
        font-size: 2rem;
        padding: 12px;
        padding-bottom: 24px;
    }
    
    .shortTitle{
        font-size: 1.6rem;
        padding: 12px;
    }
}