/* ===== Контейнер ===== */
.twoColumnContainer {
  display: flex;
  flex-direction: column; /* мобільні: меню зверху, контент під ним */
}

/* ===== Сайдбар / меню ===== */
.twoColumnSidebar {
  width: 100%; /* на мобільному повна ширина */
  background: var(--light-blue-3);
  padding: 10px;
  font-size: 0.8rem;
}

.twoColumnMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block; /* завжди вертикально */
  font-weight: 600;
}

.twoColumnMenu li {
  margin-bottom: 10px;
}

.twoColumnMenu li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.twoColumnMenu li.active,
.twoColumnMenu li.active a {
  background: #04446d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* ===== Основний контент ===== */
.twoColumnContent {
  flex: 1;
  padding: 10px;
  font-size: 0.7rem;
}


@media (min-width: 320px) {
  .twoColumnSidebar {
    font-size: 0.9rem;

  }

  .twoColumnContent {
    font-size: 0.8rem;
  }
}

/* ===== Планшет / невеликі десктопи ===== */
@media (min-width: 678px) {
  .twoColumnContainer {
    flex-direction: row;
    min-height: 75vh; /* меню зліва */
  }

  .twoColumnSidebar {
    width: 30%;
    padding: 15px;
    font-size: 1.1rem;
    
  }

  .twoColumnContent {
    padding: 15px;
    font-size: 1rem;
   
  }
}

/* ===== Десктопи ===== */
@media (min-width: 1440px) {
  .twoColumnSidebar {
    width: 25%;
    padding: 20px;
    font-size: 1.4rem;
    
  }

  .twoColumnContent {
    padding: 20px;
    font-size: 1.2rem;
  }
}
