.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  height: 800px; 
  overflow: hidden;
}

.swiper {
  padding-bottom: 20px;
  height: 100%;
  padding-bottom: 20px;
  overflow: hidden;
}

.slide {
  height: auto;
  padding-bottom: 8px;
  min-height: 140px;
  flex-shrink: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  height: 100%;
  gap: 12px;
  padding: 10px;
}

.image {
  width: 100%;

  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
  height: 100%;
}

.title {
  font-size: 14px;
  line-height: 1.35;
  font-weight: 600;
  margin: 0;
}

.authors {
  font-size: 12px;
  color: var(--dark-gray);
  margin: 0;
}

.meta {
  font-size: 12px;
  color: var(--additional-blue);
  margin: 0;
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.year {
  font-size: 12px;
  color: #374151;
}

.doiBtn {
  font-size: 12px;
  color: var(--main);
  background-color: transparent;
  border: 1px solid var(--main);
  padding: 4px 10px;
  border-radius: 9999px;
  text-decoration: none;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.doiBtn:hover {
  background-color: var(--main);
  color: #ffffff;
}

.link {
  font-size: 12px;
  text-decoration: none;
  border: 1px solid #e5e7eb;
  padding: 3px 6px;
  border-radius: 999px;
}

@media (min-width: 380px) {
  .wrapper{
    height: 520px;
  }
  .card {
    flex-direction: row;
  }

  .imageWrap{
    height: 120px;
    display: flex;
    align-items: center; /* по вертикалі */
    justify-content: center;
  }

  .image {
    width: 120px;
  }
}

/* ===== Планшети й більше (≥768px) ===== */

@media (min-width: 768px) {
  .wrapper{
    height: auto;
  }

  .card {
    flex-direction: column;
    border-radius: 16px;
    padding: 14px;
    gap: 8px;
    height: 480px;
  }

  .imageWrap{
    height: auto;
  }

  .image {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .body {
    padding: 14px 0 0 0;
  }

  .title {
    font-size: 17px;
  }

  .authors {
    font-size: 13px;
  }

  .meta {
    font-size: 12px;
  }

  .footer {
    margin-top: auto;
  }
}

/* ===== Десктоп ≥1440px ===== */

@media (min-width: 1440px) {
  .image {

  }

  .title {
    font-size: 18px;
  }
}