.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px; /* базовий стиль для мобільних */
  background-color: var(--light-blue-3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
  width: 100%;
  height: auto;
}

.menuContainer {
  display: flex;
  flex-direction: column; /* базовий стиль для мобільних */
  gap: 16px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

/* Мінімальна ширина 769px - десктопні стилі */
@media (min-width: 768x) {
  .nav {
    padding: 24px;
    height: initial; /* або конкретна висота, якщо потрібно */
  }

  .menuContainer {
    flex-direction: row;
    gap: 20px;
    width: auto;
  }
}