.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 12px;
  background-color: var(--beige);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  padding-left: 12px;
  padding-right: 24px;
}

.logoContainer a {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.logo {
  height: 50px;
  cursor: pointer;
  padding: 0px;
  border: 2px solid transparent;
  border-radius: 8px; /* можна підлаштувати */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
  transform: scale(1.15);
  border-color: var(--beige); /* основний колір сайту */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.menuContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  flex: 1; /* щоб займало центр */
}

@media (min-width: 768px) {
  .nav {
    padding: 16px 24px;
  }

  .logo {
    height: 60px;
  }

  .menuContainer {
    gap: 24px;
  }
  .logoContainer{
    padding-left: 12px;
    padding-right: 12px;
  }
 
}

@media (min-width: 880px) {
  .logoContainer{
    padding-left: 12px;
    padding-right: 24px;
  }
}

@media (min-width: 1440px) {
  .logo {
    height: 76px;
  }

  
}