.container {
  display: flex;
  background-color: var(--light-blue);
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  width: max-content;
  justify-content: flex-end;
  font-family: var(--font-family);
}

.button {
  background: transparent;
  border: none;
  padding: 8px 8px;
  font-size: 0.9rem;
  border-radius: 10px;
  color: var(--main);
  cursor: pointer;
  width: 48px;
  transition: background-color 0.3s ease, color 0.3s ease;

  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.button:hover {
  background-color: var(--hover-blue);
  color: var(--white);
}

.active {
  background-color: var(--main);
  color: var(--white);
  box-shadow: 0 4px 6px rgba(4, 68, 109, 0.4);
}



@media (min-width: 321px) and (max-width: 768px) {
 
  .button {
    padding: 8px 8px;
    font-size: 1rem;
    width: 48px;
  }
}

@media (min-width: 769px) {

  .button {
    font-size: 1rem;
    padding: 8px;
  }
}


@media (min-width: 880px) {
 
  .button {
    font-size: 1.1rem;
   
  }
}

@media (min-width: 1024px) {
 
  .button {
    font-size: 1.2rem;
    width: 64px;
   
  }
}

@media (min-width: 1440px) {
 
  .button {
    font-size: 1.6rem;
    width: 72px;
  }
}